body{
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

.navclass{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 0 auto;
    height:100px;
    background: #F55A5A;
    color: white;
}

.nav--top{
    padding: 0;
    width: 209px;
    height: 30px;
    top: 20px;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.075em;
}


.cardsec{
    display: flex;
    height: 168px;

}

.firstcard > img{
    width: 100px;
    height: 200px;
}