body{
    font-family: 'Inter', sans-serif;
    margin: 0px;
}

.navclass{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 0 auto;
    height:100px;
    background: #F55A5A;
    color: white;
}

.nav--top{
    padding: 0;
    width: 209px;
    height: 30px;
    top: 20px;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.075em;
}


.cardsection{
    display: flex;
    height: 200px;
    margin: 36px;
}

.firstcard > img{
    width: 500px;
    height: 200px;
}

.seccard{
    display: flex;
    height: 20px;
    gap:10px;
    text-align: start;
    justify-content: center;
    margin-top: 0;
}

.loc{
padding-top: 0px;
}

.map{
    text-decoration: none;
    color: black;
}